body {
    background: rgb(241, 240, 216);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

#logo {
  width: 350px;
}

nav > a {
  padding-left: 10px;
  padding-right: 10px;
}

#dog-main {
  border: 5px solid white;
  margin: 15px;
} 

.dog-walkies img {
  float:left;
  margin-right:20px;
  vertical-align:middle;
}
span {
  height: 450px;            
  display: table-cell;
  vertical-align: middle;
  font-size: larger;
}


.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
} 

/* .top-picks-parent {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-picks-child {
      width: 400px;
      height: 100px;
}
*/

#container-syd{
    width: 450px;
    height: 160px;
    margin-top: 75px;
}

#floated-syd-text{
    float: left;
    width: 250px;
}

  #sydney-park {
  position: relative;
    width: 160px;
    height: 160px;
    top: -80px;
    border-radius: 50%;
    border: 5px solid white;
}

#container-mcneilly{
  width: 450px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#floated-mcneilly-text{
  float: left;
  width: 250px;
}

#mcneilly-park {
  position: relative;
    width: 160px;
    height: 160px;
    top: -80px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container-camperdown{
  width: 450px;
  height: 160px;
}

#floated-camperdown-text{
  float: left;
  width: 250px;
}

#camperdown-park {
  position: relative;
    width: 160px;
    height: 160px;
    top: -80px;
    border-radius: 50%;
    border: 5px solid white;
}
  
#map {
  margin: 50px;
  position: relative;

}

form * {
    text-align: center;
    display: inline;
    width: 15%;
    margin: 1em;
  }
  
#checkbox {
    display:inline;
    width: auto;
}

footer div{
    float: left;
    text-align: center;
    width: 25%;
    background-color: rgb(207, 194, 157);
}

footer {
    text-align: center;
}